.container {
    display: flex;
    align-items: center;
    height: 4px;
    background: #000;
    width: 300px;
    margin: 0px 20px;    
    z-index:10;
    position: relative;
}
.container > div {
    display: flex;
    height: 14px;
    width: 14px;
    border-radius:14px;
    cursor:grab;
    position:absolute;
}
.container > div:hover {
    height: 18px;
    width: 18px;
    border-radius: 18px;
    cursor:grab;
}
.firstMarker {
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(0,121,255,1) 100%);
    z-index:20;
}

.secondMarker {
    background: rgb(0,255,12);
    background: radial-gradient(circle, rgba(0,255,12,1) 0%, rgba(0,94,4,1) 100%);
    z-index:30;
}


