.container {
    display: flex;
    align-items: center;
    height: 50px;
    width:100%;
}
.inputContainer {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.containerRange {
    display: flex;
    align-items: center;
    height: 50px;
    overflow: hidden;
}

.input{
    width: 180px;
    margin-right: 6px;
    border: 1px solid #ccc;
    padding: 7px;
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .container {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
   
}

